In [ ]:
import(OU Enrollment.csv)

In [ ]:
import(OUEnrollment.csv)

In [ ]:
import pandas as pd
df = pd.read_csv('OU-Enrollment.csv')

In [ ]:
df.head

In [ ]:
import pandas as pd
df = pd.read_csv('OU Enrollment.csv')

In [ ]:
df.head

In [ ]:
df.shape()

In [1]:
import pandas as pd
df =  pd.read_csv('OhioU Enrollment.csv')

In [2]:
df.head

<bound method NDFrame.head of    Unnamed: 0 Total Enrolled Undergrad Graduate e-learning  \
0        2019         22,706    16,113    2,285      4,897
1        2020         21,728    16,272      NaN      4,951

  New freshmen - Athens Campus Freshmen Men Freshmen Women
0                        3,671        1,585          2,086
1                        3,126        1,289          1,837  >

In [3]:
df.shape()

TypeError: 'tuple' object is not callable